@model IEnumerable<Dyspozytor.Models.Zlecenie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kierowca.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pojazd.Nazwa_Pojazdu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Godz_Rozp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zleceniodawca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Godz_zakoncz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wtrasie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kierowca.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pojazd.Nazwa_Pojazdu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Godz_Rozp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zleceniodawca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Godz_zakoncz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wtrasie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZlecenieID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZlecenieID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZlecenieID })
        </td>
    </tr>
}

</table>
